.checkbox-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-custom:checked {
    background-color: #4f46e5; 
}
.checkbox-custom:checked::before {
    content: '✓';
    display: block;
    text-align: center;
    color: white;
}